<!DOCTYPE html>
<html>
<body style="width:1920px; min-height:1080px; background-color:transparent; margin:0;">
</body>
    <img src="/images/icon-warning.png" style="position: fixed; top: 20px; left: 20px;"/>
</html>